@import "../1-global/global";

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.show {
	display: flex;
}

.hide {
	display: none;
}

.aic {
	display: flex;
	align-items: center;
}

.jcc {
	display: flex;
	justify-content: center;
}

.fww {
	flex-wrap: wrap;
}

.pic {
	display: flex;
	align-items: center;
	justify-content: center;
}

.jcsb {
	justify-content: space-between;
}

.aifs {
	align-items: flex-start;
}

.posa {
	position: absolute;
}

.h100 {
	height: 100%;
}

.h200 {
	height: 100px !important;
}

.w100 {
	width: 100% !important;
}

.w90 {
	width: 90%;
}

.w85 {
	width: 85%;
}

.w82 {
	width: 82%;
}

.w80 {
	width: 80%;
}

.w75 {
	width: 75%;
}

.w50 {
	width: 50%;
}

.w30 {
	width: 30%;
}

.w25 {
	width: 25%;
}

.w20 {
	width: 20%;
}

.w18 {
	width: 18%;
}

.w15 {
	width: 15%;
}

.w10 {
	width: 10%;
}

.db {
	display: block;
}

.active {
	color: $blue-500 !important;
}

a:focus {
	color: $blue-500;
	box-shadow: $focus;
}

.dark-active {
	color: $blue-700;
}

.tac {
	text-align: center;
}

.aife {
	align-items: flex-end;
}

a.simple-text {
	color: $blue-500;
	&:hover,
	&:focus {
		color: $blue-400;
	}
	&:focus {
		box-shadow: $focus;
	}
}

.overflow-hidden {
	overflow: hidden;
	display: none;
}

.border-radius-0 {
	border-radius: 0;
}

.jcfs {
	justify-content: flex-start;
}

.filter-card {
	&:hover {
		color: $white;
		background: $blue-500;
	}
}
a {
	text-decoration: none !important;
}

.pl-1 {
	padding: 0 0 0 2rem;
}

.box-border {
	box-sizing: border-box;
}

.bottom-20 {
	bottom: 20px;
}

.pr-40px {
	padding: 0 40px 0 0;
}

.bg-800 {
	background: var(--bg-800);
}

.hover-bg-900:hover {
	background: var(--bg-900);
}
