@import "../1-global/global.scss";

.avatar-lg,
.avatar-md,
.avatar-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover,
  &:focus {
    border: 1px solid $blue-500;
  }
  &:hover {
    box-shadow: $hover;
  }
  &:focus {
    box-shadow: $focus;
  }
}

.avatar-lg {
  width: 40px;
  height: 40px;
}

.avatar-md {
  width: 35px;
  height: 35px;
}

.avatar-sm {
  width: 30px;
  height: 30px;
}
