.dark {
  --bg-100: #f3f4f6;
  --bg-200: #e5e7eb;
  --bg-300: #d1d5db;
  --bg-400: #9ca3af;
  --bg-500: #6b7280;
  --bg-600: #4b5563;
  --bg-700: #374151;
  --bg-800: #1f2937;
  --bg-900: #111827;
  --text-color: #fff;
}
