.light {
  --bg-100: #f4f4f5;
  --bg-200: #e4e4e7;
  --bg-300: #d4d4d8;
  --bg-400: #a1a1aa;
  --bg-500: #71717a;
  --bg-600: #52525b;
  --bg-700: #3f3f46;
  --bg-800: #27272a;
  --bg-900: #18181b;
}
