@import "colors";

$hover: 5px 5px 20px rgba(59, 130, 246, 0.4);
$focus: 0 0 0 3px rgba(59, 130, 246, 0.4);
$red-border: 2px solid $red-500;
$green-border: 2px solid $green-500;
$blue-border: 1px solid $blue-500;
$admber-border: 2px solid $admber-500;
