@import "app/core/styles/scss/1-global/global";

.DiscussionList {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	min-height: 600px;
	height: auto;
	box-sizing: border-box;
	gap: 1rem;
	padding: 0;
}
